<!DOCTYPE html>
<html>
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title -->
    <title>{% block title %}Agenda Lilio{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'agenda/img/favicon.png' %}" type="image/png">

    <!-- Arquivos CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'agenda/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'agenda/css/master.css' %}">

    {% block styles %}{% endblock %}
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'agenda:index' %}">
        <img src="{% static 'agenda/img/logo.png' %}" height="45px">
    </a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'agenda:index' %}">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Agenda</a>
            </li>
        </ul>
        <ul class="navbar-nav float-right">
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <span class="nav-link">
                        {{ user.username }}
                        <a class="border-left pl-2" href="{% url 'account_logout' %}">Logout</a>
                    </span>
                {% else %}
                    <a href="{% provider_login_url 'google' %}">Login</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<!-- Conteúdo do site -->
{% block conteudo %}{% endblock %}

<!-- Scripts .js -->
<script src="{% static 'agenda/js/jquery.min.js' %}"></script>
<script src="{% static 'agenda/js/bootstrap.min.js' %}"></script>

{% block scripts %}{% endblock %}

<script src="{% static 'agenda/js/scripts.js' %}"></script>
</body>
</html>
